body {
    background-color: grey;
}
section {
    color: white;
    border: 2px solid;
}
.border-radius {
    border: orange groove 12px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.background-img {
    height: 120px;
    width: 240px;
    position: relative;
    background-image: url(images/doberman.jpeg);
    background-clip: padding-box;
    padding: 10px;
    left: 25%;
    /* this is where brandon showed transition-duration
    transition-duration: 300ms; as well as the hover below */
}
.background-img:hover {
    padding: 200px;
}
this is there it ends from what he showed */ .word-wrap {
    width: 220px;
    overflow-wrap: break-word;
    background: red;
    color: white;
}
.gradient {
    height: 420px;
    width: 420px;
    background-color: red;
    background: repeating-radial-gradient(rgba(255, 255, 255, 0), red 10%, black 20%, lime 30%);
    background: -moz-repeating-radial-gradient(rgba(255, 255, 255, 0), red 10%, black 20%, lime 30%);
    background: -webkit-repeating-radial-gradient(rgba(255, 255, 255, 0), red 10%, black 20%, lime 30%);
    background: -o-repeating-radial-gradient(rgba(255, 255, 255, 0), red 10%, black 20%, lime 30%);
    border-width: 20px;
    border-style: solid;
    border-image: linear-gradient(gray, black, red);
    border-image-slice: 1;
}
.transition {
    height: 320px;
    width: 320px;
    background-color: red;
    transition: height 3s;
    border-image: linear-gradient(red, black, orange);
}
.transition:hover {
    width: 200px;
}
.img-o {
    height: 200px;
    width: 200px;
    opacity: 1;
}
.img-o-half {
    height: 200px;
    width: 200px;
    opacity: .5;
}
.img-o-quart {
    height: 200px;
    width: 200px;
    opacity: .25;
}
.overflow-y {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    overflow-y: scroll;
}
.icup span:nth-of-type(odd) {
    color: lime;
}
.icup span:nth-of-type(even) {
    color: yellow;
}
.background-blend {
    width: 220px;
    position: relative;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/octocat.jpg), linear-gradient(to right, blue 80%, white 100%);
}
.align {
    text-align: right;
}
.column {
    font-size: 20px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 8px groove;
    color: lightblue;
}
.box-shadow {
    width: 200px;
    height: 200px;
    background-color: purple;
    box-shadow: 20px 20px 50px 20px black;
}